*{
    padding: 0;
    margin: 0;
    border-style: border-box;
}
body{
    font-family: 'Segoe UI';
    color: white;
    background-color: hsl(222, 26%, 31%);
}
.container{
    height: 95vh;
    max-width: 1440px;
    display: grid;
    place-items: center;
}
.calculator{
    height: 480px;
    width: 380px;
    padding: 2em;
}
.upper h3{
    font-size: 25px;
    font-weight: 700;
}
.display{
    height:2.5em;
    width:auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
    margin: 15px 0;
    font-size: 35px;
    font-weight: 700;
    background-color:hsl(224, 36%, 15%) ;
    border-radius: 8px;
}
.keyboard{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding: .7em .7em;
    border-radius: 8px;
    background-color:hsl(223, 31%, 20%);
}
.num,.operator,.null,.sign{
    height: 1.7em;
    width:2.5em;
    margin: 10px 4px;
    border: hidden;
    border-radius: 8px;
    font-size: 28px;
    font-weight: 700;
    color: hsl(222, 44%, 24%);
    background-color: rgb(228, 228, 228);
}
.reset,.equals{
    font-size: 15px;
    font-weight: 700;
    padding:.9em;
    width: 10.5em;
    margin: 10px 4px;
    border-radius: 8px;
    border: hidden;
    color: white;
}
.del{
    font-size: 15px;
    font-weight: 700;
    padding:.7em;
    width: 4.7em;
    margin: 10px 4px;
    border: hidden;
    border-radius: 8px;
    color: white;
    background-color: hsl(225, 21%, 49%);
}
.reset{
    background-color: hsl(225, 21%, 49%);
}
.equals{
    background-color: rgb(221, 18, 18);
}
.attribution {
    font-size: 11px;
    margin: 2em auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribution a {
     color: white;
     text-indent: 5px;
    }